<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title-app">MicroBlog</span>
  <span class="example-spacer"></span>
  
  <button 
      mat-icon-button 
      class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon"
      matTooltip="Criar nova publicação"
      matTooltipClass="example-tooltip-btn"
      aria-label="Button that shows a red tooltip"
    >
    <mat-icon>create</mat-icon>
  </button>

  <button mat-icon-button 
      class="example-icon" 
      aria-label="Example icon-button with share icon"
      matTooltip="Criar novo tema"
      matTooltipClass="example-tooltip-btn"
      aria-label="Button that shows a red tooltip"
    >
    <mat-icon>note_add</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>